@import '/src/styles/variables.scss';

.main {
  margin: 50px;
  .video {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .videoTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    .infoHeader {
      margin: 20px;
    }
    .videoInfo {
      margin: 20px;
    }
    .videoButton {
      margin: 20px;
      .btn {
        padding: 10px 40px;
        border-radius: 20px;
        background-color: black;
        color: white;
      }
      .buyButton {
        margin-right: 20px;
      }
    }
  }
  .categoryText {
    font-size: $font-size-xl;
    color: $font-color-black;
    margin: 20px 0;
  }
  .defaultText {
    font-size: $font-size-lg;
    color: $font-color-grey;
    margin: 10px 0;
  }
  .firstImgTitle {
    margin-bottom: 20px;
  }
  .firstImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .firstImgBox {
      width: 50%;
      height: 1020px;
      margin: 20px 20px 0 0;
      background-image: url(https://cdn.pixabay.com/photo/2019/08/19/07/45/corgi-4415649_1280.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .secondImgBox {
      width: 50%;
      .secondImg {
        background-image: url(https://cdn.pixabay.com/photo/2015/07/09/19/32/dog-838281_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
      }
      .mainThirdImg {
        background-image: url(https://cdn.pixabay.com/photo/2018/03/27/21/57/animal-3267564_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        margin: 20px 20px 0 0;
      }
    }
  }

  .secondImgTitle {
    margin: 40px 0;
  }
  .secondImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .firstImgBox {
      width: 50%;
      height: 800px;
      margin-right: 20px;
      background-image: url(https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262_1280.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .secondImgBox {
      width: 50%;
      height: 800px;
      background-image: url(https://cdn.pixabay.com/photo/2017/11/09/21/41/cat-2934720_1280.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .thirdImgTitle {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    margin: 40px 0;
  }
  .thirdTitle {
    display: flex;
    overflow: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      height: 20px;
    } /* 스크롤 바 */

    &::-webkit-scrollbar-track {
      background-color: $font-color-white;
    } /* 스크롤 바 밑의 배경 */

    &::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 10px;
    }

    .thirdImgBox {
      margin-right: 20px;
      .mb40 {
        margin-bottom: 40px;
      }
      .thirdImg {
        width: 550px;
        height: 500px;
      }
    }
  }
}
