@import '/src/styles/variables.scss';

.SignInWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;

  .SignInTitle {
    margin-bottom: 20px;

    font-size: $font-size-xl;
    font-weight: $font-weight-title;
  }
  .SignInInfo {
    margin-bottom: 20px;

    text-align: center;
    font-size: $font-size-base;
    color: $background-color-grey;
  }
  #signInForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .SignInInput {
      display: block;
      width: 500px;
      height: 50px;
      margin-bottom: 20px;
      padding-left: 10px;

      font-size: $font-size-lg;
    }
    .SignInButtonMan {
      margin: 0 20px 20px 0;
      width: 190px;
      height: 50px;
      border: 1px solid $background-color-grey;

      font-size: $font-size-lg;
    }
    .SignInButtonWoman {
      margin-bottom: 20px;
      width: 190px;
      height: 50px;
      border: 1px solid $background-color-grey;

      font-size: $font-size-lg;
    }

    .SignInButtonSignIn {
      width: 500px;
      height: 50px;
      border: 1px solid $background-color-grey;

      font-size: $font-size-lg;
      color: $background-color-white;
      background-color: $background-color-black;
    }
  }
}
