@import '/src/styles/variables.scss';

.viewItem {
  display: flex;
  justify-content: space-around;
  margin: 40px 70px;
  .clothesBox {
    .defaultText {
      &:nth-child(8) {
        color: $font-color-black;
        font-size: $font-size-lg;
      }
    }
  }

  .categoryText {
    display: block;
    padding: 10px;
    color: $font-color-black;
    font-size: $font-size-lg;
    &:hover {
      text-decoration: underline;
    }
  }

  .defaultText {
    display: block;
    padding: 10px;
    color: $font-color-grey;
    font-size: $font-size-base;

    &:hover {
      text-decoration: underline;
    }

    &:first-child {
      color: $font-color-black;
      font-size: $font-size-lg;
    }
  }
}
