@import '/src/styles/variables.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css';

.footerWrapper {
  border-top: 2px solid grey;
  background-color: $font-color-black;

  .footerTextWhite {
    display: block;
    color: white;
    padding: 20px 10px;
  }

  .footerTextGrey {
    display: block;
    color: $font-color-grey;
    padding: 10px;
  }

  .footerTop {
    display: flex;
    justify-content: space-around;
    margin: 0 200px;

    .footerTopIconBox {
      display: flex;

      .fa-brands {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-left: 10px;
        font-size: 20px;
        color: $background-color-black;
        background-color: $font-color-grey;
      }
    }
  }

  .footerCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

    .footerCenterBox {
      display: flex;
      align-items: center;
      margin: 0 50px;
    }
  }

  .footerBottom {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;

    .footerBottomBox {
      width: 500px;
      margin: 20px;

      .footerBottomTextWhite {
        color: white;
        padding: 10px 10px;
      }

      .footerBottomTextGrey {
        color: $font-color-grey;
        padding: 10px 0 10px 0;

        .footerBottomTextWhiteMargin {
          text-decoration: underline;
        }
      }
    }
  }
}
